:root {
    --color-light: #dee2e6;
    --body-color: #1b1b1b;
    --header-color: #222;
    --input-bg: #1c1c1c;
    --input-text: var(--color-light);
    --input-border: #8d8d8d;
    --input-focus: var(--color-light);
    --input-padding: 8px;
    --input-height: 40px;
    --link-color: #1ed2ff;
    --font-color: var(--color-light);
    --border-radius: 0.375rem;
    --padding: 1rem 2rem;
    --padding-large: 2rem;
    --max-content-width: 800px;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--body-color);
    color: var(--font-color);
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

a {
    color: var(--link-color);
}

ol {
    padding: 0;
    list-style-type: none;
}

header, footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: var(--padding);
    width: 100%;
}

header {
    background-color: var(--header-color);
    box-shadow: 0px 2px 2px 2px #181818e3;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
}

footer {
    flex-wrap: nowrap;
    justify-content: center;
}

header>* {
    margin: 8px 0;
}

#main-search {
    margin: 15% auto;
    max-width: 768px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "Logo instances"
        "search search";
}

#main-search #logo {
    grid-area: Logo;
}

#main-search #instance-selector {
    grid-area: instances;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

#main-search #search-form {
    grid-area: search;
}

#results {
    width: 100%;
    max-width: 768px;
    padding: var(--padding);
}

#search-form, #submit {
    width: 100%;
    max-width: 768px;
}

#search {
    width: 100%;
}

#search-form input {
    margin: 8px 0;
}

input, select {
    padding: var(--input-padding);
    border: 1px solid var(--input-border);
    border-radius: var(--border-radius);
    background-color: var(--input-bg);
    color: var(--input-text);
}

input:focus-visible {
    outline: none;
    border-color: var(--input-focus);
}

label {
    height: 32px;
}

input[type="search"] {
    font-size: 1.2rem;
    padding: var(--input-padding);
    padding-left: 40px;
    background: var(--input-bg) url("../imgs/search.svg") no-repeat 13px center;
}

#instance-select {
    max-width: 256px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 16px;
}

#response-time {
    width: 100%;
}

#page-control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 8px;
    margin: 8px;
}

#logo>span {
    font-size: 3rem;
    margin: 16px;
}

#logo>img {
    vertical-align: bottom;
}

#logo>img:nth-of-type(2) {
    margin-left: -80px;
    margin-bottom: 12px;
    width: 64px;
    height: 64px;
}

.search-result {
    padding: 8px;
}

.post-citation>img {
    width: 16px;
    height: 16px;
    margin: 4px;
    vertical-align: middle;
    border-radius: var(--border-radius);
}

.post-name {
    font-size: 1.3rem;
}

.post-body {
    margin: 4px;
}

.post-body>.search-term {
    font-weight: bold;
}

/* Nice Select2 */

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background-color: #5c5c5c;
}

.nice-select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: var(--input-bg);
    border-radius: var(--border-radius);
    border: solid 1px var(--input-border);
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: var(--input-height);
    line-height: calc(var(--input-height) - 2px);
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all .2s ease-in-out;
    user-select: none;
    white-space: nowrap;
    width: auto
}

.nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: var(--input-focus);
}

.nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: "";
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all .15s ease-in-out;
    width: 5px
}

.nice-select.open:after {
    transform: rotate(-135deg)
}

.nice-select.open .nice-select-dropdown {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(0)
}

.nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none
}

.nice-select.disabled:after {
    border-color: #ccc
}

.nice-select.wide {
    width: 100%
}

.nice-select.wide .nice-select-dropdown {
    left: 0 !important;
    right: 0 !important
}

.nice-select.right {
    float: right
}

.nice-select.right .nice-select-dropdown {
    left: auto;
    right: 0
}

.nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px
}

.nice-select.small:after {
    height: 4px;
    width: 4px
}

.nice-select.small .option {
    line-height: 34px;
    min-height: 34px
}

.nice-select .nice-select-dropdown {
    margin-top: 4px;
    background-color: var(--input-bg);
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, .11);
    pointer-events: none;
    position: absolute;
    top: 100%;
    right: 0;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(19px);
    transition: all .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out;
    z-index: 9;
    opacity: 0;
}

.nice-select .list {
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    max-height: 210px;
    overflow-y: auto
}

.nice-select .list:hover .option:not(:hover) {
    background-color: rgba(0, 0, 0, 0) !important
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 1.2;
    list-style: none;
    outline: none;
    padding: 10px;
    text-align: left;
    transition: all .2s;
    white-space: break-spaces;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background-color: #5c5c5c
}

.nice-select .option.selected {
    font-weight: bold
}

.nice-select .option.disabled {
    background-color: rgba(0, 0, 0, 0);
    color: #999;
    cursor: default
}

.nice-select .optgroup {
    font-weight: bold
}

.no-csspointerevents .nice-select .nice-select-dropdown {
    display: none
}

.no-csspointerevents .nice-select.open .nice-select-dropdown {
    display: block
}

.nice-select .list::-webkit-scrollbar {
    width: 0
}

.nice-select .has-multiple {
    white-space: inherit;
    height: auto;
    padding: 7px 12px;
    min-height: 36px;
    line-height: 22px
}

.nice-select .has-multiple span.current {
    border: 1px solid #ccc;
    background: #5c5c5c;
    padding: 0 10px;
    border-radius: 3px;
    display: inline-block;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 3px;
    margin-right: 3px
}

.nice-select .has-multiple .multiple-options {
    display: block;
    line-height: 24px;
    padding: 0
}

.nice-select .nice-select-search-box {
    box-sizing: border-box;
    width: 100%;
    padding: var(--input-padding);
    pointer-events: none;
    border-radius: 5px 5px 0 0
}

.nice-select .nice-select-search {
    box-sizing: border-box;
    background-color: var(--input-bg);
    border: 1px solid var(--input-border);
    border-radius: 3px;
    color: #444;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 12px;
    margin: 0 10px 0 0;
    width: 100%;
    min-height: 36px;
    line-height: 22px;
    height: auto;
    outline: 0 !important;
    font-size: 14px
}